*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}


/* div 2    1 sek nach div 1 starten
beide gleichzeitig ankommen

section postion relativ
divs postion absolute

:hover {left:90%}
start left: 0

*/

section {
    background-color: gray;
    position:relative;
    width: 90vw;
    height: 300px;
    border: 3px solid black;

}


.div1--red{
    background-color: red;
    width: 10%;
    height: 15%;
    margin: 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid yellow ;
    transition: transform 1.5s linear;
}

.div2--green{
    background-color: green;
    width: 10%;
    height: 15%;
    margin: 10px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    border: 1px solid yellow;
    transition: transform 1.5s ease-in-out;
}




/* * section startet beide */
.box:hover .div {
transform: translateX(65vw);




}